*{
    margin: 0;
    padding: 0;
}
h1{
    
    color: black;
    font-size: 35px;
    text-transform: uppercase;
  }

    span{
          color: white;
          background-color: rgb(154, 151, 151);
          padding: 10px;
          font-size: 45px;
    }